body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr {
    text-align: left;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#detalji {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}

form {
    margin-top: 20px;
}

input,
textarea {
    display: block;
    block-size: 30px;
    margin-bottom: 10px;
    width: 20%;
    padding: 8px;
}

h2 {
    display: flex;
    justify-content: flex-start;
}